# Api keys - Security
MoodFlix/MoodFlix/API_KEYS/keys.xml

# Ignorar la carpeta .vs dentro de MoodFlix/
MoodFlix/.vs/

# Archivos y carpetas de compilación dentro de MoodFlix/
MoodFlix/bin/
MoodFlix/obj/

# Carpetas y archivos de salida de compilación de Debug/Release dentro de MoodFlix/
MoodFlix/[Dd]ebug/
MoodFlix/[Dd]ebugPublic/
MoodFlix/[Dd]ist/
MoodFlix/[Dd]istPublic/
MoodFlix/[Dd]ebugFinal/
MoodFlix/[Dd]ebugServer/
MoodFlix/[Dd]ebug_x86/
MoodFlix/[Dd]ebug_x64/
MoodFlix/[Dd]ebug_arm/
MoodFlix/[Dd]ebug_ARM64/
MoodFlix/[Dd]Release/
MoodFlix/[Dd]ReleasePublic/
MoodFlix/x64/
MoodFlix/x86/
MoodFlix/arm/
MoodFlix/ARM64/

# Archivos de usuario específicos de Visual Studio dentro de MoodFlix/
MoodFlix/.vs2019/
MoodFlix/.vs2017/
MoodFlix/.vs2015/
MoodFlix/.vscode/
MoodFlix/.idea/

# Archivos de configuración de usuario de Visual Studio
MoodFlix/*.suo
MoodFlix/*.user
MoodFlix/*.userosscache
MoodFlix/*.sln.docstates
MoodFlix/.vsconfig

# Archivos de instalación de Windows dentro de MoodFlix/
MoodFlix/*.cab
MoodFlix/*.msi
MoodFlix/*.msm
MoodFlix/*.msp
MoodFlix/*.vsix

# Archivos generados por herramientas de construcción dentro de MoodFlix/
MoodFlix/build/
MoodFlix/bld/

# Archivos generados por Visual Studio para NuGet dentro de MoodFlix/
MoodFlix/packages/

# Archivos temporales de Visual Studio dentro de MoodFlix/
MoodFlix/.vs2019/
MoodFlix/.vs2017/
MoodFlix/.vs2015/

# Archivos de dependencias de herramientas de contenedores y máquinas virtuales
MoodFlix/Dockerfile*
MoodFlix/.vagrant/

# Archivos generados por JetBrains Rider
MoodFlix/.idea/

# Archivos temporales de usuario dentro de MoodFlix/
MoodFlix/Thumbs.db
MoodFlix/ehthumbs.db